header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #CCCCCC;
}

header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
    width: 200px;
}

#api_status {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 30px;
}

header div {
    background-color: #CCCCCC;  
}

header .available {
    background-color: #ff545f;
}